<h2>Crea un alumno</h2>
<div>
    <form [formGroup]="alumnoForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label for="nombre">Nombre:</mat-label>
            <input matInput type="text" id="nombre" formControlName="nombre" />
        </mat-form-field>
        <mat-form-field>
            <mat-label for="apellido">Apellido:</mat-label>
            <input matInput type="text" id="apellido" formControlName="apellido" />
        </mat-form-field>
        <mat-form-field>
            <mat-label for="edad">Edad:</mat-label>
            <input matInput type="number" id="edad" formControlName="edad" />
        </mat-form-field>


        @if (isNombreInvalid) {
        <div class="error">El nombre es obligatorio y debe tener al menos 2 caracteres.</div>
        }

        <button matButton="filled" type="submit">Agregar Alumno</button>
    </form>
</div>